<% path = @page.persisted? ? admin_page_path(@page) : admin_pages_path %> 
<%= form_for @page, url: path do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status do %>
      <%= options_for_select Page.statuses.map{ |s| [s[0], s[0]] }, Page.statuses.length %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :hero_content %>
    <%= f.text_field :hero_content %>
  </div>
  
  <%= render "shared/form_attachment", 
    form: f, 
    entity: @page,
    attribute: :hero_image,
    label: "Hero Image" %>

  <%= render "shared/markdown_editor", form: f, attribute: :content %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
