<%= render "shared/alert", alert: notice %>

<h1 class="inline">Pages</h1>
<%= link_to 'New Page', new_admin_page_path, class: "btn btn-blue pull-right"%>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Last Updated</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.status %></td>
        <td><%= time_ago_in_words page.updated_at %></td>
        <td><%= link_to 'Show', pages_path(page.slug) %></td>
        <td><%= link_to 'Edit', edit_admin_page_path(page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

