<% path = @gallery.persisted? ? admin_gallery_path(@gallery) : admin_galleries_path %> 
<%= form_for @gallery, url: path do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :lesson_id, "Lesson" %>
    <select id="lesson_id" name="lesson_id">
      <%= options_for_select Lesson.all.map { |l| ["#{l.level.capitalize} - #{l.title}", l.id] }, Lesson.count %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
