<% path = @member.persisted? ? admin_member_path(@member) : admin_members_path %> 
<%= form_for @member, url: path do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "shared/form_attachment", 
    form: f, 
    entity: @member,
    attribute: :avatar,
    label: "Member Avatar" %>
  
  <%= render "shared/form_attachment", 
    form: f, 
    entity: @member,
    attribute: :baby_picture,
    label: "Baby Photo" %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= label_tag :role %>
    <select id="role" name="role">
      <%= options_for_select Member.roles.map { |l| [l[0].capitalize, l[0]] }, Member.roles.length %>
    </select>
  </div>
  
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
