<%= link_to 'Edit', edit_admin_member_path(@member) %> |
<%= link_to 'Back', admin_members_path %>

<%= render "shared/alert", alert: notice %>

<h3>Member</h3>
<%= image_tag @member.avatar.url(:thumb), class: "img-rounded" %>
<% %w(name position role ).each do |s| %>
  <p><%= "#{s.titleize}: #{@member.send(s.to_sym).try(:titleize)}" %></p>
<% end %>
<p>Linked In Profile: <%= link_to @member.linked_in_profile, @member.linked_in_profile %></p>
<%= markdown @member.bio %>

