<div class='sign-up'>
  <h2>Sign up</h2>

  <% resource.build_profile if resource.profile.nil? %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <%= f.fields_for :profile do |fp| %>

      <div class="field">
        <%= fp.text_field :title, autofocus: true, placeholder: "title" %>
      </div>

      <div class="field">
        <%= fp.text_field :first_name, placeholder: "first name" %>
      </div>

      <div class="field">
        <%= fp.text_field :last_name, placeholder: "last name" %>
      </div>

      <div class="field">
        <%= fp.text_field :school, placeholder: "school" %>
      </div>

      <div class="field">
        <%= fp.text_field :city, placeholder: "city" %>
      </div>

      <div class="field">
          <%= fp.text_field :state, placeholder: "state" %>
      </div>

      <div class="field">
        <%= fp.text_field :country, placeholder: "country" %>
      </div>

      <div class="field">
        <%= fp.text_field :occupation, placeholder: "occupation" %>
      </div>

      <div class="field">
        <%= fp.text_field :grades, placeholder: "grades" %>
      </div>
    <% end %>

    <div class="field">
      <%= f.email_field :email, placeholder: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "password (#{@minimum_password_length} characters minimum)" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
