<nav class="admin-nav">
  <div class="brand">
    <%= link_to admin_path do %>
      <%= image_tag 'doodle_white.png', class:"logo", alt:"Doodles Academy" %>
    <% end %>
  </div>
  <ul>
    <%= nav_link "Pages", admin_pages_path %>
    <%= nav_link "Projects", admin_project_sets_path %>
    <%= nav_link "Project Levels", admin_projects_path %>
    <%= nav_link "Standards", admin_standards_path %>
    <%= nav_link "Lessons", admin_lessons_path %>
    <%= nav_link "Galleries", admin_galleries_path %>
    <%= nav_link "Members", admin_members_path %>
    <%= nav_link "Supply Items", admin_supply_items_path %>
  </ul>
</nav>
