<nav class="admin-nav">
<ul>
  <li class="admin-nav-item"><%= link_to "Pages", admin_pages_path %></li>
  <li class="admin-nav-item"><%= link_to "Projects", admin_projects_path %></li>
  <li class="admin-nav-item"><%= link_to "Standards", admin_standards_path %></li>
  <li class="admin-nav-item"><%= link_to "Lessons", admin_lessons_path %></li>
  <li class="admin-nav-item"><%= link_to "Galleries", admin_galleries_path %></li>
  <li class="admin-nav-item"><%= link_to "Members", admin_members_path %></li>
</ul>
</nav>
