<% path = @lesson.persisted? ? admin_lesson_path(@lesson) : admin_lessons_path %>
<%= form_for @lesson, url: path do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @lesson.new_record? %>
  <div class="field">
    <%= label_tag :project_slug, "Project" %>
    <select id="project_slug" name="project_slug">
      <%= options_for_select ProjectSet.all.map { |p| [p.title, p.slug] }, ProjectSet.count %>
    </select>
  </div>

  <div class="field">
    <%= label_tag :project_level %>
    <select id="project_level" name="project_level">
      <%= options_for_select Project.levels.map { |l| [l[0].capitalize, l[0]] }, Project.levels.length %>
    </select>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= render "shared/form_attachment",
    form: f,
    entity: @lesson,
    attribute: :overview,
    label: "Lesson Overview PDF" %>

  <%= render "shared/form_attachment",
    form: f,
    entity: @lesson,
    attribute: :example_image,
    label: "Example Image" %>

  <%= render "shared/form_attachment",
    form: f,
    entity: @lesson,
    attribute: :inspiration_image,
    label: "Inspiration Image" %>

    <div class="field">
      <%= f.label :inspiration_image_title %>
      <%= f.text_field :inspiration_image_title %>
    </div>

  <div class="field">
    <%= f.label :inspiration_image_description %>
    <%= f.text_field :inspiration_image_description %>
  </div>

  <div class="field">
    <%= f.label :video_uri, "Video URL" %>
    <%= f.text_field :video_uri %>
  </div>

  <%= render "shared/form_sections", form: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
