<% path = @lesson.persisted? ? admin_lesson_path(@lesson) : admin_lessons_path %>
<%= form_for @lesson, url: path do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @lesson.new_record? %>
  <div class="field">
    <%= label_tag :project_slug, "Project" %>
    <select id="project_slug" name="project_slug">
      <%= options_for_select ProjectSet.all.map { |p| [p.title, p.slug] }, ProjectSet.count %>
    </select>
  </div>

  <div class="field">
    <%= label_tag :project_level %>
    <select id="project_level" name="project_level">
      <%= options_for_select Project.levels.map { |l| [l[0].capitalize, l[0]] }, Project.levels.length %>
    </select>
  </div>
  <% end %>

  <%= render "shared/form_status", form: f, entity: @lesson %>

  <div class="field">
    <%= f.label :order %>
    <%= f.text_field :order %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= render "shared/form_attachment",
    form: f,
    entity: @lesson,
    attribute: :overview,
    label: "Lesson Overview PDF" %>

  <%= render "shared/form_attachment",
    form: f,
    entity: @lesson,
    attribute: :example_image,
    label: "Example Image" %>

  <%= render "shared/form_attachment",
    form: f,
    entity: @lesson,
    attribute: :inspiration_image,
    label: "Inspiration Image" %>

  <div class="field">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <div class="field">
    <%= f.label :objective %>
    <%= f.text_area :objective, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <div class="field">
    <%= f.label :setup %>
    <%= f.text_field :setting_up %>
  </div>

  <div class="field">
    <%= f.label :materials %>
    <%= f.text_field :materials %>
  </div>

  <div class="field">
    <%= f.label :materials_note %>
    <%= f.text_field :materials_note %>
  </div>

  <div>
    <div class="field photocopy-admin">
      <%= f.label "Photocopy 1" %>
      <%= f.text_field :first_photocopy_header %>
    </div>
    <div class="field photocopy-admin">
      <%= f.label "web link" %>
      <%= f.text_field :first_photocopy_url %>
    </div>
    <div>
      <%= render "shared/form_photocopy",
        form: f,
        entity: @lesson,
        attribute: :first_photocopy,
        label: "Photocopy 1" %>
    </div>
  </div>

  <div>
    <div class="field photocopy-admin">
      <%= f.label "Photocopy 2" %>
      <%= f.text_field :second_photocopy_header %>
    </div>
    <div class="field photocopy-admin">
      <%= f.label "web link" %>
      <%= f.text_field :second_photocopy_url %>
    </div>
    <div>
      <%= render "shared/form_photocopy",
        form: f,
        entity: @lesson,
        attribute: :second_photocopy,
        label: "Photocopy 2" %>
    </div>
  </div>

  <div>
    <div class="field photocopy-admin">
      <%= f.label "Photocopy 3" %>
      <%= f.text_field :third_photocopy_header %>
    </div>
    <div>
      <%= render "shared/form_photocopy",
        form: f,
        entity: @lesson,
        attribute: :third_photocopy,
        label: "Photocopy 3" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :media %>
    <%= f.text_field :media %>
  </div>

  <div class="field">
    <%= f.label :intro_time %>
    <%= f.text_field :intro_time %>
  </div>

  <div class="field">
    <%= f.label :pre_work_heading %>
    <%= f.text_field :pre_work_heading %>
  </div>

  <div class="field">
    <%= f.label :pre_work %>
    <%= f.text_field :pre_work %>
  </div>

  <div class="field">
    <%= f.label 'Inspiration Image Title, Artist, Year' %>
    <%= f.text_field :inspiration_image_title %>
   </div>

  <div class="field">
    <%= f.label 'Inspiration Image Description' %>
    <%= f.text_field :inspiration_image_description %>
  </div>

  <div class="field">
    <%= f.label :video_uri, "Video URL" %>
    <%= f.text_field :video_uri %>
  </div>

  <div class="field">
    <%= f.label :video_note %>
    <%= f.text_field :video_note %>
  </div>

  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <div class="field">
    <%= f.label :check_for_understanding %>
    <%= f.text_area :check_for_understanding, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <div class="field">
    <%= f.label :independent_worktime %>
    <%= f.text_field :independent_worktime %>
  </div>

  <div class="field">
    <%= f.label :group_worktime %>
    <%= f.text_field :group_worktime %>
  </div>

  <div class="field">
    <%= f.label :worktime_time %>
    <%= f.text_field :worktime_time %>
  </div>

  <div class="field">
    <%= f.label :worktime_focus %>
    <%= f.text_field :worktime_focus %>
  </div>

  <div class="field">
    <%= f.label :worktime %>
    <%= f.text_area :worktime, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <div class="field">
    <%= f.label :additional_independent_worktime %>
    <%= f.text_field :additional_independent_worktime %>
  </div>

  <div class="field">
    <%= f.label :additional_group_worktime %>
    <%= f.text_field :additional_group_worktime %>
  </div>

  <div class="field">
    <%= f.label :additional_worktime_focus %>
    <%= f.text_field :additional_worktime_focus %>
  </div>

  <div class="field">
    <%= f.label :additional_worktime_time %>
    <%= f.text_field :additional_worktime_time %>
  </div>

  <div class="field">
    <%= f.label :additional_worktime %>
    <%= f.text_field :additional_worktime %>
  </div>

  <div class="field">
    <%= f.label :clean_up %>
    <%= f.text_area :clean_up, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <div class="field">
    <%= f.label :anticipated_problems %>
    <%= f.text_area :anticipated_problems, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <div class="field">
    <%= f.label :early_finishers %>
    <%= f.text_area :early_finishers, 'data-uk-htmleditor' => '{markdown:true}' %>
  </div>

  <% if @lesson.early_finishers == nil || @lesson.early_finishers == "" %>
    <%= render "shared/form_sections", form: f %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
