<% path = @lesson.persisted? ? admin_lesson_path(@lesson) : admin_lessons_path %> 
<%= form_for @lesson, url: path do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :project_slug, "Project" %>
    <select id="project_slug" name="project_slug">
      <%= options_for_select ProjectSet.all.map { |p| [p.title, p.slug] }, ProjectSet.count %>
    </select>
  </div>
  
  <div class="field">
    <%= label_tag :project_level %>
    <select id="project_level" name="project_level">
      <%= options_for_select Project.levels.map { |l| [l[0].capitalize, l[0]] }, Project.levels.length %>
    </select>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= render "shared/form_attachment", 
    form: f, 
    entity: @project,
    attribute: :overview,
    label: "Lesson Overview PDF" %>

  <%= render "shared/form_attachment", 
    form: f, 
    entity: @project,
    attribute: :inspiration_image,
    label: "Inspiration Image" %>

  <div class="field">
    <%= f.label :inspiration_image_description %>
    <%= f.text_field :inspiration_image_description %>
  </div>
  
  <div class="field">
    <%= f.label :video_uri, "Video URL" %>
    <%= f.text_field :video_uri %>
  </div>

  <%= render "shared/form_sections", form: f %>
  <% count = 0 %>
  <%= f.fields_for :instruction_groups do |group_form, i| %>
    <div class="field">
      <%= group_form.label :title, "Instruction Group Title" %>
      <%= group_form.text_field :title %>
    </div>
    <%= group_form.fields_for :instructions do |inst_form| %>

      <div class="field">
        <%= inst_form.label :title, "Instruction Title" %>
        <%= inst_form.text_field :title %>
      </div>

      <div class="field">
        <%= inst_form.label :time_to_complete %>
        <%= inst_form.text_field :time_to_complete %>
      </div>
      
      <div class="field">
        <%= inst_form.label :description %>
        <%= inst_form.text_area :description %>
      </div>
    <% end %>
    <div class="btn btn-blue" data-adder-base="lesson[instruction_group_attributes][<%= count %>][instruction_attributes]" data-adder-attrs="title:string time_to_complete:string description:text">
      Add Instruction
    </div>
    <% count += 1 %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
