<%= render "shared/alert", alert: notice %>
<h1 class="inline">Lessons</h1>
<%= link_to 'New Lesson', new_admin_lesson_path, class: "btn btn-blue pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Lesson #</th>
      <th>Academy</th>
      <th>Lesson Title</th>
      <th>Updated</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.sort_by(&:project).sort.each do |lesson| %>
      <tr>
        <td><%= lesson.project.present? ? lesson.project.title : "" %></td>
        <td><%= lesson.project.present? ? lesson.lesson_number : "" %></td>
        <td><%= lesson.project.present? ? lesson.project.academy : "" %></td>
        <td><%= lesson.title %></td>
        <td><%= "#{time_ago_in_words(lesson.updated_at)} ago".titleize %></td>
        <td><%= link_to 'Show', admin_lesson_path(lesson) %></td>
        <td><%= link_to 'Edit', edit_admin_lesson_path(lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
