<p id="notice"><%= notice %></p>

<h1>Listing Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= link_to 'Show', admin_lesson_path(lesson) %></td>
        <td><%= link_to 'Edit', edit_admin_lesson_path(lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_admin_lesson_path %>
