<%= render "shared/alert", alert: notice %>

<h1 class="inline">Lesson</h1>
<%= link_to 'Edit', edit_admin_lesson_path(@lesson), class: "btn btn-blue pull-right" %>
<p>Title: <%= @lesson.title %>
<p>Url: <%= lesson_link @lesson %></p>
<p>
  Project: <%= link_to @lesson.project.title, 
    admin_project_set_path(@lesson.project.project_set) %>
</p>
<p>
  Academy: <%= link_to @lesson.project.academy,
    admin_project_path(@lesson.project) %>
</p>


<p>
  <% if @lesson.overview.present? %> 
  <%= link_to "Lesson Overview PDF", @lesson.overview.url %>
  <% else %>
  <%= "Lesson Overview PDF Not Found" %>
  <% end %>
</p>
<p><%= image_tag @lesson.inspiration_image.url(:thumb) %></p>
<p><%= image_tag @lesson.example_image.url(:thumb) %></p>
<p>Inspiration Image Description: <%= @lesson.inspiration_image_description %></p>


<% @lesson.sections.each do |section| %>
  <p><%= section.title %></p>
  <div class="well">
  <%= markdown section.content %>
  </div>
<% end %>
