<%= render "shared/alert", alert: notice %>

<h1 class="inline">Standards</h1>
<%= link_to 'New Standard', new_admin_standard_path, class: "btn btn-blue pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>Academy</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.project.title %></td>
        <td><%= standard.project.academy %></td>
        <td><%= link_to 'Edit', edit_admin_standard_path(standard) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

