<% content_for(:page_title) { ('Dashboard') } %>
<% content_for(:hero_image) { image_tag 'heros/dashboard.jpg' } %>

<div class="dashboard">
  <div class="teacher-image">
    <% if current_user.profile.avatar.present? %>
      <%= image_tag current_user.profile.avatar.url(:small), id: "person-icon" %>
    <% else %>
      <%= image_tag("person-icon.png", size: "200x200", alt: "person icon", id: "person-icon") %>
    <% end %>
    <%= image_tag("camera-icon.png", size: "35x35", alt: "camera icon", id: "camera-icon") %>
  </div>

  <div id="edit-avatar" hidden>
    <%= form_for current_user, url: profile_path do |f| %>
       <%= f.fields_for :profile, html: { multipart: true } do |p| %>
        <div>
          <%= p.file_field :avatar %>
        </div>
      <% end %>
      <%= f.submit id: 'update-avatar' %>
    <% end %>
  </div>

  <div class="dashboard-fields">
    <h1 class="welcome">
      welcome, <%= "#{current_user.profile.title} #{current_user.profile.last_name}" %>!
      <%= image_tag("pencil-icon.png", size: "25x25",alt: "pencil icon", class: "pencil-icon", id: "pencil-name") %>
    </h1>

    <div id="edit-name" class="edit-user-data" hidden>
      <%= form_for current_user, url: profile_path do |f| %>
         <%= f.fields_for :profile do |p| %>
          <div>
            <%= p.label :title %><br />
            <%= p.text_field :title %>
          </div>
          <div>
            <%= p.label :first_name %><br />
            <%= p.text_field :first_name %>
          </div>
          <div>
            <%= p.label :last_name %><br />
            <%= p.text_field :last_name %>
          </div>
         <% end %>
         <div class="actions">
           <%= f.submit "Update" %>
         </div>
      <% end %>
    </div>

    <div>
      <h1>account settings:</h1>
      <div>
        <h4>
          classroom data
          <%= image_tag("pencil-icon.png", size: "20x20",alt: "pencil icon", class: "pencil-icon", id: "pencil-classroom") %>
        </h4>
        <div id="classroom-data">
          <p><%= "School: #{current_user.profile.school}" %></p>
          <p><%= "#{current_user.profile.city_state}" %></p>
          <p><%= "#{current_user.profile.country}" %></p>
          <p><%= "Occupation: #{current_user.profile.occupation}" %></p>
          <p><%= "Grades: #{current_user.profile.grades}" %></p>
      </div>
      </div>

      <div id="edit-classroom-data" class="edit-user-data" hidden>
        <%= form_for current_user, url: profile_path do |f| %>
           <%= f.fields_for :profile do |p| %>
            <div>
              <%= p.label :school %><br />
              <%= p.text_field :school %>
            </div>
            <div>
              <%= p.label :city %><br />
              <%= p.text_field :city %>
            </div>
            <div>
              <%= p.label :state %><br />
              <%= p.text_field :state %>
            </div>
            <div>
              <%= p.label :country %><br />
              <%= p.text_field :country %>
            </div>
            <div>
              <%= p.label :occupation %><br />
              <%= p.text_field :occupation %>
            </div>
            <div>
              <%= p.label "Grades Taught" %><br />
              <%= p.text_field :grades %>
            </div>
           <% end %>
           <div class="actions">
             <%= f.submit "Update" %>
           </div>
        <% end %>
      </div>

      <div id="contact-preferences">
        <h4>
          email & password
          <%= image_tag("pencil-icon.png", size: "20x20",alt: "pencil icon", class: "pencil-icon", id: "pencil-email") %>
        </h4>
        <div id="email-data">
          <!-- <p>PLEASE NOTE THAT ALL MEMBERS WILL RECEIVE OUR NEWSLETTER</p> -->
          <p><%= current_user.email %></p>
          <!-- <p><input type="checkbox" checked>Yes!  I want to be notified of new lessons on the website</p> -->
        </div>
      </div>

      <div id="edit-email" class="edit-user-data" hidden>
        <%= form_for current_user do |f| %>

          <div>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div>
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
      </div>

    </div>
    <div>
      <h1>artroom</h1>
      <div>
        <h4>continue where you left off:</h4>
      </div>
      <div>
        <h4>view your curriculum & supply lists:</h4>
      </div>
    </div>
    <div id="logout-button" class="btn">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
  </div>
</div>
