<% content_for(:page_title) { ('Dashboard') } %>
<% content_for(:hero_image) { image_tag 'heros/dashboard.jpg' } %>

<div class="dashboard">
  <div class="teacher-image">
    <% if current_user.profile.avatar.present? %>
      <%= image_tag current_user.profile.avatar.url(:small), id: "person-icon" %>
    <% else %>
      <%= image_tag("person-icon.png", size: "200x200", alt: "person icon", id: "person-icon") %>
    <% end %>
    <%= image_tag("camera-icon.png", size: "35x35", alt: "camera icon", id: "camera-icon") %>
  </div>

  <div id="edit-avatar" hidden>
    <%= form_for current_user, url: profile_path do |f| %>
       <%= f.fields_for :profile, html: { multipart: true } do |p| %>
        <div>
          <%= p.file_field :avatar %>
        </div>
      <% end %>
      <%= f.submit id: 'update-avatar' %>
    <% end %>
  </div>

  <div class="dashboard-fields">
    <h1 class="welcome">
      welcome, <%= "#{current_user.profile.title} #{current_user.profile.last_name}" %>!
      <%= image_tag("pencil-icon.png", size: "25x25",alt: "pencil icon", class: "pencil-icon", id: "pencil-name") %>
    </h1>

    <div id="edit-name" class="edit-user-data" hidden>
      <%= form_for current_user, url: profile_path do |f| %>
         <%= f.fields_for :profile do |p| %>
          <div>
            <%= p.label :title %><br />
            <%= p.text_field :title %>
          </div>
          <div>
            <%= p.label :first_name %><br />
            <%= p.text_field :first_name %>
          </div>
          <div>
            <%= p.label :last_name %><br />
            <%= p.text_field :last_name %>
          </div>
         <% end %>
         <div class="actions">
           <%= f.submit "Update" %>
         </div>
      <% end %>
    </div>

    <div>
      <h1>account settings:</h1>
      <div>
        <h4>
          classroom data
          <%= image_tag("pencil-icon.png", size: "20x20",alt: "pencil icon", class: "pencil-icon", id: "pencil-classroom") %>
        </h4>
        <div id="classroom-data">
          <p><%= "School: #{current_user.profile.school}" %></p>
          <p><%= "#{current_user.profile.city_state}" %></p>
          <p><%= "#{current_user.profile.country}" %></p>
          <p><%= "Occupation: #{current_user.profile.occupation}" %></p>
          <p><%= "Grades: #{current_user.profile.grades}" %></p>
      </div>
      </div>

      <div id="edit-classroom-data" class="edit-user-data" hidden>
        <%= form_for current_user, url: profile_path do |f| %>
           <%= f.fields_for :profile do |p| %>
            <div>
              <%= p.label :school %><br />
              <%= p.text_field :school %>
            </div>
            <div>
              <%= p.label :city %><br />
              <%= p.text_field :city %>
            </div>
            <div>
              <%= p.label :state %><br />
              <%= p.text_field :state %>
            </div>
            <div>
              <%= p.label :country %><br />
              <%= p.text_field :country %>
            </div>
            <div>
              <%= p.label :occupation %><br />
              <%= p.text_field :occupation %>
            </div>
            <div>
              <%= p.label "Grades Taught" %><br />
              <%= p.text_field :grades %>
            </div>
           <% end %>
           <div class="actions">
             <%= f.submit "Update" %>
           </div>
        <% end %>
      </div>

      <div id="contact-preferences">
        <h4>
          contact preferences
          <%= image_tag("pencil-icon.png", size: "20x20",alt: "pencil icon", class: "pencil-icon", id: "pencil-email") %>
        </h4>
        <div id="email-data">
          <!-- <p>PLEASE NOTE THAT ALL MEMBERS WILL RECEIVE OUR NEWSLETTER</p> -->
          <p><%= current_user.email %></p>
          <!-- <p><input type="checkbox" checked>Yes!  I want to be notified of new lessons on the website</p> -->
        </div>
      </div>

      <div id="edit-email" class="edit-user-data" hidden>

        <%= form_for current_user do |f| %>

        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="//doodles-academy.us10.list-manage.com/subscribe/post?u=28ca6056cf1fcbb59340d2de6&id=434752e97b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address</label>
              <!-- <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> -->
              <%= f.email_field :email, name: "EMAIL", placeholder: current_user.email, id: "mce-EMAIL" %>
            </div>
            <div>
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", id: "current-pw" %>
            </div>
        <div class="mc-field-group input-group">
          <ul>
            <li><input type="radio" value="16384" name="group[11229]" id="mce-group[11229]-11229-0" class="mc-checks" checked><label for="mce-group[11229]-11229-0">Yes, please notify me when new projects are loaded on the website</label></li>
            <li><input type="radio" value="524288" name="group[11229]" id="mce-group[11229]-11229-1" class="mc-checks"><label for="mce-group[11229]-11229-1">No, thank you.</label></li>
          </ul>
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_28ca6056cf1fcbb59340d2de6_434752e97b" tabindex="-1" value=""></div>
              <div class="clear">
                <%= f.submit "Update", name: "subscribe", id: "mc-embedded-subscribe", class: "actions btn btn-blue" %>
                <!-- <input type="submit" value="Update" name="subscribe" id="mc-embedded-subscribe" class="actions btn btn-blue"> -->
              </div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

        <% end %>

        <%= form_for current_user do |f| %>

          <div>
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
      </div>

    </div>
    <div>
      <h1>artroom</h1>
      <div>
        <h4>continue where you left off:</h4>
      </div>
      <div>
        <h4>view your curriculum & supply lists:</h4>
      </div>
    </div>
    <div id="logout-button" class="btn">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
  </div>
</div>
