<h1>Eckit User</h1>
<!-- /users/<user_id>/edit -->
<h3><%= @user.hidden_email %></h3>
<%= form_for @user do |f| %>
  <%= f.select :role do %>
    <%= options_for_select(User.roles.map { |role, _| [role.capitalize, role] }) %>
  <% end %>
  <%= render "shared/form_submit", form: f, title: "Update User" %>
<% end %>

<%= render "shared/destroy_button", entity: @user %>
