<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.fields_for :profile do |fp| %>
    <div class="field">
      <%= fp.label :school %><br />
      <%= fp.text_field :school %>
    </div>

    <div class="field">
      <%= fp.label :city %><br />
      <%= fp.text_field :city %>
    </div>

    <div class="field">
        <%= fp.label :state %>
        <%= fp.select :state, Profile::STATES %>
    </div>

    <div class="field">
      <%= fp.label :country %><br />
      <%= fp.text_field :country %>
    </div>

    <div class="field">
      <%= fp.label :occupation %><br />
      <%= fp.text_field :occupation %>
    </div>

    <div class="field">
      <%= fp.label :grades %><br />
      <%= fp.text_field :grades %>
    </div>
  <% end %>
<% end %>
