<div class="member-avatar">
  <%= image_tag member.avatar.url(:small) %>
</div>
<div class="member-baby-picture hidden">
  <%= image_tag member.modal_photo %>
</div>
<div class="member-info">
  <div class="member-name">
    <%= member.name %>
  </div >
  <div class="member-position">
    <%= member.position %>
  </div >
</div>

<div class="member-bio">
  <%= markdown member.bio %>
  <% if member.linked_in_profile.present? %>
    <p><%= link_to "LinkedIn", member.linked_in_profile, target: :_blank %></p>
  <% end %>
  <% if member.personal_website.present? %>
    <p><%= link_to "Website", member.personal_website, target: :_blank %></p>
  <% end %>
</div>
