<% content_for(:nav_size_class) { 'large' } %>
<div class="homepage">
  <section class="hero">
    <img src="<%= asset_path('top_hero_image.jpg') %>" class='hero__img' alt='Doodles Academy' />
    <p class="hero__content">
      Doodles Academy is a digital inventory of comprehensive, easy-to-use art lessons for schools, classrooms, teachers, and students.
    </p>
  </section>

  <section>
    <div class="content">
      <p class="lead">
        Our mission is to provide art lessons <br/> which inspire students to meet their creative potential.
      </p>
      <div class="centered" style="height: 80px; margin: 40px 0;">
        <img src="<%= asset_path('doodle_hand_yellow.png') %>">
      </div>
      <h2>Featured Videos</h2>
      <div class="homepage-gallery">
        <% @lessons = [] %>
        <% @lessons.push({ title: "Symbol & Self", video_id: "144787451" }) %>
        <% @lessons.push({ title: "Superhero Lesson", video_id: "140998518" }) %>
        <% @lessons.push({ title: "Dream Home", video_id: "144787451" }) %>
        <% @lessons.each do |lesson| %>
        <div class="homepage-gallery-item" data-video-id="<%= lesson[:video_id] %>" data-project-title="<%= lesson[:title] %>">
          <img src="<%= asset_path('map-direction-image.jpg') %>">
          <div class="homepage-gallery-item-play-btn"></div>
          <div class="homepage-gallery-item-title">
            <%= lesson[:title] %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="gallery-tools">
        <div class="gallery-tools-next"></div>
        <div class="gallery-tools-prev"></div>
      </div>
      <div class="centered" style="margin: 80px 0;">
        <%= link_to "See More Projects", projects_path, class: "btn btn-large btn-orange" %>
      </div>
      <h2>Making Art Education More Accessible</h2>
      <p>Doodles Academy works to eliminate the barriers that too many teachers have in providing a high-quality arts education to their students. By creating an inventory of thoughtful and engaging art lessons, teachers assemble their curriculum-choosing the projects and activities they know are best for their students- and Doodles Academy takes care of the details.</p>
    </div>
  </section>


  <section class="hero">
    <img src="<%= asset_path('map-direction-image.jpg') %>" class="hero__img"/>
    <p class="hero__content">
      <span class="quote">
        “Since [our daughter’s] school doesn't have an art curriculum, she has not been able to explore and learn about her passion until now. She has become more confident, articulate and definitely much happier since she's been enrolled in Doodles.”
      </span>
      <br/>
      <span class="quote__person">
        Kara Bloom
      </span>
    </p>
  </section>

  <section>
    <div class="content">
      <h2>
        Art Education is Failing in America.
      </h2>
      <p>
        In the last two decades alone, minorities experienced an almost 25% decrease in access to art education. Our vision that every child should receive a holistic arts education, irrespective of school, budget, zip code, or student demographics.
      </p>
      <div class="centered" style="margin: 30px 0 0;">
        <a class="btn btn-large btn-blue" >
          Donate Now
        </a>
      </div>
    </div>
  </section>
</div>