<% content_for (:hero_content) { image_tag 'doodle_white.png', size: "350" } %>
<% content_for :hero_content do %>
<%end %>

<div class="homepage">

  <section>
    <div class="homepage-content">
      <h2>Doodles Academy is a powerful art curriculum for for grades 1-5.</h2>
      <p>
        Our program is designed to minimize teacher prep, and to prepare educators of all backgrounds to offer their students a high-quality art experience. Our lessons include:
      </p>
      <ul>
        <li>Videos with demos</li>
        <li>Downloadable Lesson Plans</li>
        <li>Downloadable Supply Lists</li>
        <li>Downloadable student handouts</li>
        <li>Ideas for extending projects</li>
        <li>Common Core & National Art Standards</li>
        <li>Connections to open source curricula</li>
        <li>Constantly expanding group of projects</li>
        <li>Prompts for discussion</li>
        <li>Suggestions for early finishers</li>
        <li>Critical thinking skills in every lesson</li>
        <li>"Knowledge building" topic based units</li>
      </ul>
    </div>
  </section>

  <section>
     <div id="image_home_summary">
     </div>
   </section>

  <section>
    <div class="homepage-content">
      <h2>Students aren't carbon copies, why should their art be?</h2>
      <p>
        With Doodles Academy, educators of all backgrounds can offer their students a comprehensive, standards-aligned, open-ended curriculum with excellence and ease.
      </p>
    </div>
  </section>

  <section id="homepage-lesson-gallery-section" class="container">
    <div id="homepage-lesson-gallery-div" class="row">
      <div class="col-lg-1 hidden-md hidden-sm hidden-xs">
        <a><%= image_tag 'left-arrow.png', class: "left-arrow" %></a>
      </div>
      <div id="gal_left" class="col-lg-5 col-md-6 col-s-12">
        <img class="img_left">
        <small>images from 'Near & Far' project</small>
        <a class="btn btn-xl btn-blue hidden-lg hidden-md" href='/projects'>
          See Projects
        </a>
      </div>
      <div id="gal_right" class="col-lg-5 col-md-6 hidden-sm hidden-xs">
        <img class="img_right">
        <a class="btn btn-xl btn-blue hidden-sm hidden-xs" href='/projects'>
          See Projects
        </a>
      </div>
      <div class="col-lg-1 hidden-md hidden-sm hidden-xs">
        <a><%= image_tag 'right-arrow.png', class: "right-arrow" %></a>
      </div>
    </div>
  </section>

  <section>
     <div>
       <iframe src="<%= @intro_video_url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     </div>
   </section>

   <section>
     <div class="homepage-content">
       <h2>High quality art education for all.</h2>
       <p>
         Our mission is to expand children's access to high-quality arts education.
       </p>
       <p>
         Our vision is that every child receives an arts education that inspires and rewards creativity, growth and problem solving.
       </p>
     </div>
   </section>

   <section class="image-background-section">
     <div class="image-background-content">
       <p>
         <span class="emulate-h2">Donate &amp; Defend Art Education.</span>
         <br><br>
         We offer our complete program on a donation basis,
no strings attached, to any family, school, or
community center that needs it.
        <br><br>
        Without donors like you, this would be impossible.
        <br><br>
        <a class="btn btn-xl btn-white" href="https://squareup.com/store/doodles-academy">
           Donate Now
         </a>
       </p>
     </div>
   </section>

   <section>
     <div class="homepage-content">
       <h2>Testimonials</h2>
       <blockquote>
         <div id="quotes">
           <p></p>
         </div>
       </blockquote>
       <div class="quoted-parent"></div>
       <div class='dots'>
         <a id='dot0'><%= image_tag 'dot.png'%></a>
         <a id='dot1'><%= image_tag 'dot.png'%></a>
         <a id='dot2'><%= image_tag 'dot.png'%></a>
       </div>
     </div>
   </section>


</div>
