<% content_for (:hero_content) { image_tag 'doodle_white.png', size: "350" } %>
<% content_for :hero_content do %>
<%end %>

<div class="homepage">

  <section>
    <div class="homepage-content">
      <h2>Students aren't carbon copies, why should their art be?</h2>
      <p>
        With Doodles Academy, educators of all backgrounds can offer their students a comprehensive, standards-aligned, open-ended curriculum with excellence and ease.
      </p>
    </div>
  </section>

  <section class="lesson-gallery-wrapper">
    <div id="lesson-gallery">
      <div id="gal_left">
        <img class="img_left">
        <a><%= image_tag 'left-arrow.png', class: "left-arrow" %></a>
      </div>
      <div id="gal_right">
        <img class="img_right">
        <a><%= image_tag 'right-arrow.png', class: "right-arrow" %></a>
        <a class="btn btn-xl btn-blue" href='/projects'>
          See Projects
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="homepage-content">
      <h2>The Doodles Difference</h2>
      <p>
        Doodles Academy provides an online curriculum that includes video examples, lesson plans, supply lists, and links to Common Core and Visual Art standards.  We make it easy for educators of all types and experience levels to bring a comprehensive and open-ended curriculum to their students.
      </p>
      <p>
        Our projects allow room for every child to tell her own story.  We provide lessons that scaffold skills and ideas, challenging students to think complexly, but chunking it down so that they don't become overwhelmed.  Discussion and exploration is built into each project, encouraging students to find their own creative solutions.
      </p>
    </div>
  </section>

  <section>
     <div>
       <iframe src="<%= @intro_video_url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     </div>
   </section>

   <section>
     <div class="homepage-content">
       <h2>High quality art education for all.</h2>
       <p>
         Our mission is to expand children's access to high-quality arts education.
       </p>
       <p>
         Our vision is that every child receives an arts education that inspires and rewards creativity, growth and problem solving.
       </p>
     </div>
   </section>

   <section class="image-background-section">
     <div class="image-background-content">
       <p>
         <span class="emulate-h2">Art is not optional.</span>
         <br>
         <br>
         Students engaged in the arts consistently score higher on standardized tests, stay in school longer, and pursue more advanced degrees.
         <br>
         <br>
         We offer our complete program on a donation basis, no strings attached, to any family, school, or community center that needs it.
         <br>
         <br>
         Without donations, this would be impossible.
         <a class="btn btn-xl btn-white" href="/donate">
           Donate Now
         </a>
       </p>
     </div>
   </section>

   <section>
     <div class="homepage-content">
       <h2>Testimonials</h2>
       <blockquote>
         <div id="quotes">
           <p></p>
         </div>
       </blockquote>
       <div class="quoted-parent"></div>
       <div class='dots'>
         <a id='dot0'><%= image_tag 'dot.png'%></a>
         <a id='dot1'><%= image_tag 'dot.png'%></a>
         <a id='dot2'><%= image_tag 'dot.png'%></a>
       </div>
     </div>
   </section>


</div>
