<% content_for(:hero_content) { 'Doodles Academy is a digital inventory of comprehensive, easy-to-use art lessons for schools, classrooms, teachers, and students.' } %>

<div class="homepage">
 <section class="homepage-section">
    <div class="homepage-content">
      <div class="frame frame--16x9" style="margin-bottom: 50px">
        <iframe src="<%= @intro_video_url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="lead">
        Our mission is to provide art lessons <br/> which inspire students to meet their creative potential.
      </p>
      <div class="centered" style="height: 80px; margin: 40px 0;">
        <%= image_tag 'doodle_hand_yellow.png', class: 'height'%>
      </div>
      <h2>Featured Videos</h2>
      <div class="homepage-gallery">
        <% @featured_lessons.each do |lesson| %>
        <%= render "shared/lesson_gallery", lesson: lesson %>
        <% end %>
      </div>
      <div class="gallery-tools">
        <div class="gallery-tools-next"></div>
        <div class="gallery-tools-prev"></div>
      </div>
      <div class="centered" style="margin: 80px 0;">
        <%= link_to "See More Projects", projects_path, class: "btn btn-large btn-orange" %>
      </div>
      <h2>Making Art Education More Accessible</h2>
      <p>Doodles Academy works to eliminate the barriers that too many teachers have in providing a high-quality arts education to their students. By creating an inventory of thoughtful and engaging art lessons, teachers assemble their curriculum-choosing the projects and activities they know are best for their students- and Doodles Academy takes care of the details.</p>
    </div>
  </section>

  <section class="hero quote">
    <%= image_tag 'map-direction-image.jpg', class:"hero-img" %>
    <div class="hero-content">
      <div class="quote-contents"></div>
    </div>
    <div class="quote-selector"></div>
  </section>

 <section class="homepage-section">
    <div class="homepage-content">
      <h2>
        Art Education is Failing in America.
      </h2>
      <p>
        "In just over two decades, there has been a nearly 50% decrease in access to arts education for students of color. Our vision is that every child should receive a holistic arts education, irrespective of school, budget, zip code, or student demographics."<br>
        <a target="_blank" href="http://issuu.com/arts_link/docs/afta_nav_factsfigs_v1">Arts Education Navigator. Issuu. Americans for the Arts, 2012. Web. 24 Nov. 2015.</a>
      </p>
      <div class="centered" style="margin: 30px 0 0;">
        <a class="btn btn-large btn-blue" >
          Donate Now
        </a>
      </div>
    </div>
  </section>
</div>
