<%= render "shared/alert", alert: notice %>

<h1 class="inline">Project Levels</h1>
<%= link_to 'New Project', new_admin_project_path, class: "btn btn-blue pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Academy</th>
      <th>Updated</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.academy %></td>
        <td><%= "#{time_ago_in_words(project.updated_at)} ago".titleize %></td>
        <td><%= link_to 'Show', admin_project_path(project) %></td>
        <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

