<p id="notice"><%= notice %></p>

<h1 class="inline">Project Level</h1>
<%= link_to 'Edit', edit_admin_project_path(@project), class: "btn btn-blue pull-right" %>
<p>Title: <%= @project.title %></p>
<p>Url: <%= project_link @project %></p>
<p>Academy: <%= @project.academy %></p>
<p>
  Overview PDF: <% if @project.overview.present? %> 
  <%= link_to "#{@project.academy} Overview PDF", @project.overview.url %>
  <% else %>
  <%= "#{@project.academy} PDF Not Found" %>
  <% end %>
</p>

<h3>Inspiration Image</h3>
<p><%= image_tag @project.inspiration_image.url(:thumb) %></p>

<h3>Featured Artist</h3>
<p><%= image_tag @project.featured_artist_image.url(:thumb) %></p>
<p>Featured Artist:</p>
<div class="well">
  <%= markdown @project.featured_artist_description %> 
</div>

<% @project.sections.each do |section| %>
  <div class="well">
    <%= markdown section.content %> 
  </div>
<% end %>
