<div class='project-wrapper'>

  <% if @project.featured_artist_image.present? %>
    <div class="featured-artist">
      <div class="row">
        <div class="example col-md-12 vcenter" id="example">
          <div class="student-image">
            <%= image_tag @project.featured_artist_image.url(:medium) %>
          </div>
          <div class="student-example">
            STUDENT EXAMPLE
          </div>
          <div class="superhero-quote">
            <p class='featured-artist-attribution'><%= @project.featured_artist_image_title %></p>
            <p class='featured-artist-attribution'><%= @project.featured_artist_description %></p>
            <p class='featured-artist-attribution'>-<%= @project.featured_artist_name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <hr />

  <h1>Project Overview</span>
    <% if current_user %>
      <% if current_user.favorite_projects.exists?(project_id: @project.id) %>
        <%= link_to (content_tag(:span, "☆", class: "favorite")), favorite_project_path(@project, type: "unfavorite"), method: :put %>
      <% else %>
        <%= link_to (content_tag(:span, "★", class: "favorite")), favorite_project_path(@project, type: "favorite"), method: :put %>
      <% end %>
    <% else %>
      <span class="glyphicon glyphicon-star-empty" id="favorite_nonuser"></span>
    <% end %></h1>
  <div>
    <h2 id='project-synopsis'>synopsis</h2>
    <p><%= @project.synopsis %></p>
  </div>
  <hr />

  <h1>Setup At A Glance</h1>
  <div>
    <h2 id='project-lesson-plan'>Lesson Plan</h2>
    <% if @project.overview.present? %>
      <p><%= link_to @project.overview_file_name, @project.overview.url %></p>
    <% else %>
      <p><%= "N/A" %></p>
    <% end %>

    <h2 id='project-materials'>materials</h2>
    <p><%= @project.materials %></p>
    <div class="project-indent">
      <small>*suggestion: <%= @project.materials_suggestion %></small>
    </div>

    <h2 id='project-books-media'>books/media</h2>
    <p><%= @project.books_media %></p>

    <h2 id='project-photocopies'>photocopies</h2>
    <p>
      <% if @project.first_photocopy_url.present? %>
      <p>photocopy 1</p>
      <p class="pdf-indent">
        <a href="<%= @project.first_photocopy_url %>"><%= @project.first_photocopy_header %></a>
      </p>
      <% elsif @project.first_photocopy.present? %>
        <p><%= @project.first_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.first_photocopy_file_name, @project.first_photocopy.url %></p>
      <% else %>
        <p><%= "N/A" %></p>
      <% end %>
      <% if @project.second_photocopy_url.present? %>
      <p>photocopy 2</p>
      <p class="pdf-indent">
        <a href="<%= @project.second_photocopy_url %>"><%= @project.second_photocopy_header %></a>
      </p>
      <% elsif @project.second_photocopy.present? %>
        <p><%= @project.second_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.second_photocopy_file_name, @project.second_photocopy.url %></p>
      <% end %>
      <% if @project.third_photocopy.present? %>
        <p><%= @project.third_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.third_photocopy_file_name, @project.third_photocopy.url %></p>
      <% end %>
      <% if @project.fourth_photocopy.present? %>
        <p><%= @project.fourth_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.fourth_photocopy_file_name, @project.fourth_photocopy.url %></p>
      <% end %>
      <% if @project.fifth_photocopy.present? %>
        <p><%= @project.fifth_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.fifth_photocopy_file_name, @project.fifth_photocopy.url %></p>
      <% end %>
      <% if @project.photocopy_copyright.present? %>
        <small><%= @project.photocopy_copyright %></small>
        <br>
      <% end %>
      <small>© info: Doodles Academy presents both public domain artworks and works that are protected by copyright in their videos and lessons. The latter are used in accordance with fair use principle, as the images are only being used for educational purposes. If you are the copyright holder of the work of art used for Doodles-Academy.org and do not agree that the use of your image is a fair use, please contact us by email.</small>
    </div>
  </p>
  <hr />

  <h1>Standards</h1>
  <div>

    <% if @project.common_core.present? %>
      <a><div class='collapsible' id='project-common-core'>
        <div>
          <h2 class="collapsible-heading">common core<span><h2 class="collapsible-plus">+</h2></span></h2>
        </div>
      </div></a>
      <div class='project-common-core-collapsed collapsed' hidden>
        <%= markdown @project.common_core %>
      </div>
    <% end %>

    <% if @project.national_core.present?  %>
      <a><div class='collapsible' id='project-national-core'>
        <div>
          <h2 class="collapsible-heading">national core visual arts standards<span><h2 class="collapsible-plus">+</h2></span></h2>
        </div>
      </div></a>
      <div class='project-national-core-collapsed collapsed' hidden>
        <%= markdown @project.national_core %>
      </div>
    <% end %>

    <a><div class='collapsible' id='project-foundations'>
      <div>
        <h2 class="collapsible-heading">foundations<span><h2 class="collapsible-plus">+</h2></span></h2>
      </div>
    </div></a>
    <div class='project-foundations-collapsed collapsed' hidden>
      <h2 id='project-art-elements'>art elements</h2>
      <p><%= @project.art_elements %></p>

      <h2 id='project-art-princples'>art principles</h2>
      <p><%= @project.art_principles %></p>

    </div>

    <a><div class='collapsible' id='project-integrations'>
      <div>
        <h2 class="collapsible-heading">integrations<span><h2 class="collapsible-plus">+</h2></span></h2>
      </div>
    </div></a>
    <div class='project-integrations-collapsed collapsed' hidden>
      <h2 id='project-cross-curricular'>cross curricular</h2>
      <p><%= @project.cross_curricular %></p>

      <h2 id='project-engage-ny'>engage NY</h2>
      <% if @project.engage_ny.present? %>
        <p><%= @project.engage_ny %></p>
      <% else %>
        <p>N/A</p>
      <% end %>

      <h2 id='project-next-gen-sci'>next generation science</h2>
      <% if @project.next_gen_sci.present? %>
        <p><%= @project.next_gen_sci %></p>
      <% else %>
        <p>N/A</p>
      <% end %>
    </div>

  </div>

</div>

<div class="modal" id="projectFavoriteModal">
  <div class="modal-content">
    <div class="modal-close"></div>
    <div class="modal-title">
      <h1>Sign in to access this feature!</h1>
    </div>
    <div class="modal-body">
    <h2><a href="/users/sign_in">Sign in</a> or <a href="/users/sign_up">sign up</a> with us to favorite<span class="glyphicon glyphicon-star"></span> a project!</h2>
    </div>
  </div>
</div>

<script>
  var $modal, $modal_close, toggleModal;

  $('#favorite_nonuser').on('click', function(){
    $modal = $('#projectFavoriteModal');
    $modal_close = $modal.find('.modal-close');
    toggleModal = function(toggle) {
      return $modal.toggleClass("is-active", toggle);
    };
    toggleModal(true);
    $modal_close.on('click', function() {
      return toggleModal(false);
    });
  });
    
</script>

