<div class='project-wrapper'>

  <% if @project.featured_artist_image.present? %>
    <div class="featured-artist">
      <div class="row">
        <div class="example col-md-9 vcenter" id="example">
          <div class="student-image">
            <%= image_tag @project.featured_artist_image.url(:medium) %>
          </div>
          <div class="student-example">
            STUDENT EXAMPLE
          </div>
          <div class="superhero-quote">
            <%= @project.featured_artist_description %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <hr />

  <h1>Project Overview</h1>
  <div>
    <h2 id='project-synopsis'>synopsis</h2>
    <p><%= @project.synopsis %></p>
  </div>
  <hr />

  <h1>Setup At A Glance</h1>
  <div>
    <h2 id='project-materials'>materials</h2>
    <p><%= @project.materials %></p>
    <div class="project-indent">
      <small>*suggestion: <%= @project.materials_suggestion %></small>
    </div>

    <h2 id='project-books-media'>books/media</h2>
    <p><%= @project.books_media %></p>

    <h2 id='project-photocopies'>photocopies</h2>
    <p><%= @project.photocopy %></p>
    <div class="project-indent">
      <% if @project.first_photocopy.present? %>
      <p><%= link_to @project.first_photocopy_file_name, @project.first_photocopy.url %></p>
      <% else %>
      <%= "N/A" %>
      <% end %>
      <% if @project.second_photocopy.present? %>
      <p><%= link_to @project.second_photocopy_file_name, @project.second_photocopy.url %></p>
      <% end %>
      <% if @project.third_photocopy.present? %>
      <p><%= link_to @project.third_photocopy_file_name, @project.third_photocopy.url %></p>
      <% end %>
      <p><small><%= @project.photocopy_copyright %></small></p>
      <small>© info: Doodles Academy presents both public domain artworks and works that are protected by copyright in their videos and lessons. The latter are used in accordance with fair use principle, as the images are only being used for informational and educational purposes, and they are readily available on the internet. If you are the copyright holder of the work of art used for Doodles-Academy.org and do not agree that its use on the site is in accordance with the fair use principle, please contact us by email.</small>
    </div>
  </div>
  <hr />

  <h1>Standards</h1>
  <div>
    <h2 id='project-common-core'>common core</h2>
    <%= markdown @project.common_core %>

    <h2 id='project-national-core'>national core</h2>
    <%= markdown @project.national_core %>

    <h2 id='project-art-elements'>art elements</h2>
    <p><%= @project.art_elements %></p>

    <h2 id='project-art-princples'>art princples</h2>
    <p><%= @project.art_principles %></p>

    <h2 id='project-cross-curricular'>cross curricular</h2>
    <p><%= @project.cross_curricular %></p>
  </div>

</div>
