<div class='project-wrapper'>

  <% if @project.featured_artist_image.present? %>
    <div class="featured-artist">
      <div class="row">
        <div class="example col-md-14 vcenter" id="example">
          <div class="student-image">
            <%= image_tag @project.featured_artist_image.url(:medium) %>
          </div>
          <div class="student-example">
            STUDENT EXAMPLE
          </div>
          <div class="superhero-quote">
            <p class='featured-artist-attribution'><%= @project.featured_artist_image_title %></p>
            <%= @project.featured_artist_description %>
            <p class='featured-artist-attribution'>-<%= @project.featured_artist_name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <hr />

  <h1>Project Overview</h1>
  <div>
    <h2 id='project-synopsis'>synopsis</h2>
    <p><%= @project.synopsis %></p>
  </div>
  <hr />

  <h1>Setup At A Glance</h1>
  <div>
    <h2 id='project-lesson-plan'>Lesson Plan</h2>
    <% if @project.overview.present? %>
      <p><%= link_to @project.overview_file_name, @project.overview.url %></p>
    <% else %>
      <p><%= "N/A" %></p>
    <% end %>

    <h2 id='project-materials'>materials</h2>
    <p><%= @project.materials %></p>
    <div class="project-indent">
      <small>*suggestion: <%= @project.materials_suggestion %></small>
    </div>

    <h2 id='project-books-media'>books/media</h2>
    <p><%= @project.books_media %></p>

    <h2 id='project-photocopies'>photocopies</h2>
    <div>
      <% if @project.first_photocopy.present? %>
        <p><%= @project.first_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.first_photocopy_file_name, @project.first_photocopy.url %></p>
      <% else %>
        <%= "N/A" %>
      <% end %>
      <% if @project.second_photocopy.present? %>
        <p><%= @project.second_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.second_photocopy_file_name, @project.second_photocopy.url %></p>
      <% end %>
      <% if @project.third_photocopy.present? %>
        <p><%= @project.third_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.third_photocopy_file_name, @project.third_photocopy.url %></p>
      <% end %>
      <% if @project.fourth_photocopy.present? %>
        <p><%= @project.fourth_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.fourth_photocopy_file_name, @project.fourth_photocopy.url %></p>
      <% end %>
      <% if @project.fifth_photocopy.present? %>
        <p><%= @project.fifth_photocopy_header %></p>
        <p class="pdf-indent"><%= link_to @project.fifth_photocopy_file_name, @project.fifth_photocopy.url %></p>
      <% end %>
      <% if @project.photocopy_copyright.present? %>
        <small><%= @project.photocopy_copyright %></small>
        <br>
      <% end %>
      <small>© info: Doodles Academy presents both public domain artworks and works that are protected by copyright in their videos and lessons. The latter are used in accordance with fair use principle, as the images are only being used for educational purposes. If you are the copyright holder of the work of art used for Doodles-Academy.org and do not agree that the use of your image is a fair use, please contact us by email.</small>
    </div>
  </div>
  <hr />

  <h1>Standards</h1>
  <div>

    <% if @project.common_core.present? %>
      <a><div class='collapsible' id='project-common-core'>
        <div>
          <h2 class="collapsible-heading">common core<span><h2 class="collapsible-plus">+</h2></span></h2>
        </div>
      </div></a>
      <div class='project-common-core-collapsed collapsed' hidden>
        <%= markdown @project.common_core %>
      </div>
    <% end %>

    <% if @project.national_core.present?  %>
      <a><div class='collapsible' id='project-national-core'>
        <div>
          <h2 class="collapsible-heading">national core visual arts standards<span><h2 class="collapsible-plus">+</h2></span></h2>
        </div>
      </div></a>
      <div class='project-national-core-collapsed collapsed' hidden>
        <%= markdown @project.national_core %>
      </div>
    <% end %>

    <a><div class='collapsible' id='project-foundations'>
      <div>
        <h2 class="collapsible-heading">foundations<span><h2 class="collapsible-plus">+</h2></span></h2>
      </div>
    </div></a>
    <div class='project-foundations-collapsed collapsed' hidden>
      <h2 id='project-art-elements'>art elements</h2>
      <p><%= @project.art_elements %></p>

      <h2 id='project-art-princples'>art principles</h2>
      <p><%= @project.art_principles %></p>

      <h2 id='project-cross-curricular'>cross curricular</h2>
      <p><%= @project.cross_curricular %></p>
    </div>
  </div>

</div>
