<h1>Edit Project</h1>

<h2><%= @project.title.titleize %></h2>
<h3><%= @project.academy %></h3>

<%= form_for @project, url: project_path(@project_set.slug), html: { multipart: true } do |f| %>
  <%= render "shared/form_attachment", 
    form: f, 
    entity: @project,
    attribute: :overview,
    label: "Project Overview PDF" %>
  <%= render "shared/form_attachment", 
    form: f, 
    entity: @project,
    attribute: :inspiration_image,
    label: "Inspiration Image" %>
  <%= render "shared/form_sections", form: f %>
  <%= render "shared/form_submit", form: f, title: "Update Project" %>
<% end %>
 
