<% content_for(:nav_size_class) { 'small' } %>
<div class="projects">
  <h1><%= @project.title %></h1>
  <section class="synopsis">
    <h3>synopsis</h3>
    <p class="description"><%= @project.description %></p>
  </section>

  <section class="skills">
    <h3>skills</h3>
    <p class="description"><%= @project.skills_description %></p>
  </section>

  <section class="gallery">
  </section>

  <section class="supplies">
    <h3>supplies</h3>
    <ul>
      <% @project.supply_items.each do |supply| %>
        <% if supply.has_link? %>
          <li><%= link_to supply.name, supply.url %></li>
        <% else %>
          <li><%= supply.name %></li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section class="supplemental">
  </section>
</div>
