<% content_for(:page_title) { ("#{@project.title}") } %>
<% content_for(:hero_image) { image_tag @project.inspiration_image.url(:large) } %>
<% content_for(:hero_title) { "#{@project.title}".titleize } %>
<% content_for(:hero_subtitle) { "#{@project.level} Academy".titleize } %>

<ul class="aside">
  <li>
    <%= link_to "Lessons", "#lessons" %>
    <ul>
    <% @project.lessons.each do |lesson| %>
      <li><%= link_to lesson.title %></li>
    <% end %>
    </ul>
  </li>
  <li class="project-aside-link">
    <%= link_to "Overview", "#overview" %>
    <ul>
    <% @project.sections.each do |section| %>
      <li><%= link_to section.title, "##{section.slug}" %></li>
    <% end %>
    </ul>
  </li>
  <li>
    <%= link_to "Materials", "#materials" %>
  </li>
  <li>
    <%= link_to "Standards", "#standards" %>
    <ul>
    <% @project.standard.sections.each do |section| %>
      <li><%= link_to section.title, "##{section.slug}" %></li>
    <% end %>
    </ul>
  </li>
</ul>

<div class="aside-content">
  <div class="project-section" id="lessons">
    <h1>Lessons</h1>
    <% @project.lessons.each do |lesson| %>
    <%= link_to lesson.title %>
    <% end %>
  </div>

  <div class="project-section" id="overview">
    <h1>Project Overview</h1>
    <%= render "shared/sections", sectionable: @project %>
  </div>

  <div class="project-section" id="materials">
    <h1>Materials</h1>
    <p>
    <% @project.supply_items.each do |supply| %>
      <% capitalized_name = supply.name.capitalize %>
      <% if supply.has_link? %>
        <%= link_to capitalized_name, supply.url %>,
      <% else %>
        <%= capitalized_name %>,
      <% end %>
    <% end %>
    </p>
  </div>

  <div class="project-section" id="standards">
    <h1>Standards</h1>
    <%= render "shared/sections", sectionable: @project.standard %>
  </div>
</div>
