<% content_for(:page_title) { ("#{@project.title}") } %>
<%= image_tag @project.inspiration_image %>
<div class="wrapper">
<h1><%= @project.title %></h1>
<h3 class="centered"><%= @project.level.capitalize %> Academy</h3>

<div class="lesson-map">
  <% @project.lessons.each do |lesson| %>
  <div class="lesson-point">
    <a href="<%= project_lesson_path(@project.slug, lesson.slug) %>">
      <div class="lesson-point-flash"></div>
      <div class="lesson-point-title"><%= lesson.title %></div>
    </a>
  </div>
  <div class="lesson-link"></div>
  <% end %>
</div>

<h2>Project Overview</h2>
<% %w(synopsis skills).each do |section| %>
<div id="<%= section %>">
  <h3><%= section.titleize %></h3>
  <p><%= @project.send(section.to_sym)%></p>
</div>
<% end %>

<h2> Set-Up at a Glance</h2>
<h3>Materials</h3>
<p>
<% @project.supply_items.each do |supply| %>
  <% capitalized_name = supply.name.capitalize %>
  <% if supply.has_link? %>
    <%= link_to capitalized_name, supply.url %>,
  <% else %>
    <%= capitalized_name %>,
  <% end %>
<% end %>
</p>

<% %w(books_media photocopies).each do |section| %>
<div id="<%= section %>">
  <h3><%= section.titleize %></h3>
  <p><%= @project.send(section.to_sym)%></p>
</div>
<% end %>

<h2>Standards</h2>
<% %w(national_core common_core art_elements art_principles).each do |section| %>
  <h3><%= section.titleize %></h3>
  <p><%= @project.standard.send :common_core %></p>
<% end %>
 
</div>
