<% content_for(:page_title) { ("#{@project.title} Projects") } %>

<h1><%= @project.title %></h1>

<section class="synopsis">
  <h3>Synopsis</h3>
  <p class="description"><%= @project.description %></p>
</section>

<section class="skills">
  <h3>Skills</h3>
  <p class="description"><%= @project.skills_description %></p>
</section>

<section class="gallery">
</section>

<section class="supplies">
  <h3>Supplies</h3>
  <ul>
    <% @project.supply_items.each do |supply| %>
      <% if supply.has_link? %>
        <li><%= link_to supply.name, supply.url %></li>
      <% else %>
        <li><%= supply.name %></li>
      <% end %>
    <% end %>
  </ul>
</section>

<section class="lesson-plans">
  <h3>Lesson Plans</h3>
</section>
