<% content_for(:page_title) { ("#{@project.title}") } %>
<%= image_tag @project.inspiration_image %>
<div class="wrapper">
<h1 class="title"><%= @project.title %></h1>
<h6><%= @project.level.capitalize %> Academy</h6>

<section class="synopsis">
  <h2>Synopsis</h2>
  <p><%= @project.description %></p>
</section>

<section class="skills">
  <h2>Skills</h2>
  <p><%= @project.skills_description %></p>
</section>

<section class="supplies">
  <h2>Supplies</h2>
  <% @project.supply_items.each do |supply| %>
    <% capitalized_name = supply.name.capitalize %>
    <% if supply.has_link? %>
      <p><%= link_to capitalized_name, supply.url %></p>
    <% else %>
      <p><%= capitalized_name %></p>
    <% end %>
  <% end %>
</section>

<section class="lesson-plans">
  <h2>Lessons</h2>
  <% @project.lessons.each do |lesson| %>
    <p><%= link_to lesson.name, project_lesson_path(@project.slug, lesson.slug) %></p>
  <% end %>
</section>
</div>
