<% content_for(:page_title) { @lesson.title } %>
<div class="wrapper">
<h1>Edit <%= @lesson.title %></h1>

<%= form_for @lesson, url: project_lesson_path(@project.slug, @lesson.slug) do |f| %>
  <%= render "shared/form_group", entity: @lesson, form: f, attributes: %w(title video_uri synopsis objective setup media photocopies) %>

  <%= render "shared/form_submit", form: f, title: "Update Lesson #{@lesson.title}" %>
<% end %>
</div>

<%= render "shared/destroy_button", entity: @lesson, title: "Delete Lesson #{@lesson.title}" %>
