<% content_for(:page_title) { @lesson.title } %>
<% content_for(:hero_image) { image_tag @lesson.inspiration_image.url(:large) } %>
<% content_for(:hero_title) { "#{@project.title}".titleize } %>
<% content_for(:hero_subtitle) do end %>

<div class='markdown-wrapper'>
  <h1><%= @lesson.title %></h1>

  <blockquote class="backdrop toc">
    <p class="toc-title">Lesson Map</p>
    <%= render "shared/table_of_contents", sectionable: @project %>
  </blockquote>
  <%= render "shared/sections", sectionable: @lesson %>
  <h1 class="centered"> <%= @finished_verb.titleize %>! Lesson <%= @lesson.order %> finished!</h1>
  <p><button>Next Lesson</button></p>
</div>
