<% content_for(:page_title) { @lesson.title } %>

<div class="wrapper">
<h1><%= @lesson.title %></h1>
<h6><%= @project.level.capitalize %> Academy</h6>
<% if @lesson.inspiration_image.present? %>
  <%= image_tag @lesson.inspiration_image, class:"inspiration_image" %>
  <%= @lesson.inspiration_image_description %>
<% end %>
<% if @lesson.video_uri.present? %>
  <%= render "shared/video", locals: { video_id: @lesson.video_id } %>
<% end %>

<% %w(synopsis objective setup photocopies media).each do |section| %>
  <div id="<%= section %>">
    <h2><%= section.capitalize %></h2>
    <p><%= @lesson.send(section.to_sym) %></p>
  </div>
<% end %>
