<% content_for(:page_title) { @lesson.title } %>
<% content_for(:hero_image) { image_tag @lesson.inspiration_image.url(:large) } %>
<% content_for(:hero_title) { "#{@lesson.title}".titleize } %>
<% content_for(:hero_subtitle) { "#{@lesson.project.title} / #{@lesson.project.academy}".titleize } %>

<div class="aside">
  <% %w(video inspiration_image materials).each do |s| %>
    <ul><li><%= link_to "#{s.titleize}", "##{s}" %></li></ul>
  <% end %>
  <%= render "shared/table_of_contents", sectionable: @lesson %>
</div>

<div class="aside-content">
  <% if @lesson.video_uri.present? %>
    <div class="lesson-video" id="video">
    <%= render "shared/video", locals: { video_id: @lesson.video_id } %>
    </div>
  <% end %>
  <% if @lesson.inspiration_image.present? %>
    <div class="inspiration-image" id="inspiration-image">
    <%= image_tag @lesson.inspiration_image.url(:thumb) %>
    <%= @lesson.inspiration_image_description %>
    </div>
  <% end %>
  <div id="materials">
    <h1>Materials</h1>
    <p>
    <% @lesson.supply_items.each do |supply| %>
      <% capitalized_name = supply.name.capitalize %>
      <% if supply.has_link? %>
        <%= link_to capitalized_name, supply.url %>,
      <% else %>
        <%= capitalized_name %>,
      <% end %>
    <% end %>
    </p>
  </div>
  <%= render "shared/sections", sectionable: @lesson %>
</div>

