<% path = @project_set.persisted? ? admin_project_set_path(@project_set) : admin_project_sets_path %>
<%= form_for @project_set, url: path do |f| %>
  <% if @project_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_set.errors.count, "error") %> prohibited this admin_project_set from being saved:</h2>

      <ul>
      <% @project_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "shared/form_status", form: f, entity: @project_set %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= render "shared/form_attachment",
    form: f,
    entity: @project_set,
    attribute: :project_image,
    label: "Project Image" %>

  <div class="field">
    <%= f.label :unit %>
    <%= f.collection_select(:unit_id, Unit.all, :id, :full_title) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
