<div class="store-wrapper">
  <% if @product.nil? %>
    <div class="checkout-empty">
      You have not selected anything to purchase.
    </div>
  <% else %>
    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Amount: <%= @product.formatted_price %></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="<%= @product.name %>"
              data-amount="<%= @product.price %>"
              data-locale="auto"></script>
    <% end %>
  <% end %>
</div>

