<!DOCTYPE html>
<html>
<head>
  <title>Doodles</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% @links = [] %>
  <% @links.push({ name: "Donate", path: "/donors" }) %>
  <% @links.push({ name: "Contact", path: "/contact" }) %>
  <% @links.push({ name: "Our Board", path: "/board" }) %>
  <% @links.push({ name: "Sign Up", path: "/users/sign_up" }) %>
</head>
<body>
  <div class="nav" class="<%= yield(:nav_size_class) %>">
    <div class="brand">
      <a href="/"><%= image_tag 'logo-yellow-trans', class: 'logo', alt: 'Doodles Academy' %></a>
    </div>
    <div class="nav-menu">
      <ul>
        <% @links.each do |link| %>
        <a href="<%= link[:path] %>">
          <li><%= link[:name] %></li>
        </a>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>

  <div class="footer">
    <div class="footer-top">
    </div>
    <div class="footer-bottom">
    </div>
  </div>
</body>
</html>
