<!DOCTYPE html>
<html>
<head>
  <title>Doodles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top-nav-bar" class="<%= yield(:nav_size_class) %>">
    <div id="top-nav-content">
      <%= image_tag 'logo-yellow-trans', class: 'logo', alt: 'Doodles Academy' %>
      <div class="nav-menu linear">
        <ul>
          <li>Our Story</li>
          <li>Donate</li>
          <li>Sample</li>
          <li>Contact</li>
          <li>Our Board</li>
          <li>Sign up</li>
        </ul>
      </div>
    </div>

    <div class="nav-menu hanging">
      <div class="hanging-menu-content">
        <ul>
          <li>Our Story</li>
          <li>Donate</li>
          <li>Sample</li>
          <li>Contact</li>
          <li>Our Board</li>
          <li>Sign up</li>
        </ul>
      </div>
    </div>
  </div>

  <%= yield %>

</body>
</html>
