<!DOCTYPE html>
<html>
<head>
  <title>Doodles</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% @links = [] %>
  <% @links.push({ name: "Donate", path: "/donors" }) %>
  <% @links.push({ name: "Contact", path: "/contact" }) %>
  <% @links.push({ name: "Our Board", path: "/board" }) %>
  <% @links.push({ name: "Sign Up", path: "/users/sign_up" }) %>
</head>
<body>
  <div class="nav" class="<%= yield(:nav_size_class) %>">
    <div class="brand">
      <a href="/"><%= image_tag 'logo-yellow-trans', class: 'logo', alt: 'Doodles Academy' %></a>
    </div>
    <div class="nav-menu">
      <ul>
        <% @links.each do |link| %>
        <a href="<%= link[:path] %>">
          <li><%= link[:name] %></li>
        </a>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>

  <div class="footer">
    <div class="footer-top">
    </div>
    <div class="footer-bottom">
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
