<!DOCTYPE html>
<html>
<head>
  <title>
    <% @page_title = yield(:page_title) %>
    <% unless @page_title.blank? %>
    <%= @page_title + " - " %>
    <% end %>
    Doodles Academy
  </title>
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:400,300italic,600,700|Raleway:300,400,500,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% max_height = yield(:hero_height).present? ? "#{yield(:hero_height)}px" : "" %>
  <% @hero_image = yield(:hero_image) %>
  <% unless @hero_image.blank? %>
  <section class="hero" style="max-height: <%= max_height %>">
     <%= image_tag @hero_image, class: "hero__img", alt: "Doodles Academy" %>
      <p class="hero__content">
        <%= yield(:hero_content) %>
      </p>
  </section>
  <% else %>
  <div id="no-hero"></div>
  <% end %>

  <div class="nav"> 
    <div class="brand">
      <a href="/"><%= image_tag 'doodle_white.png', class:"logo", alt:"Doodles Academy" %></a>
    </div>
    <ul class="nav-menu">
      <% @pages.each do |page| %>
      <li class="nav-menu-item">
        <%= link_to page[:name], page[:path] %>
      </li>
      <% end %>
      <li class="nav-menu-item">
        <div class="btn btn-blue nav-donate-btn">
          Donate
        </div>
      </li>
    </ul>
  </div>
  <%= yield %>

  <div class="footer">
    <div class="newsletter">
      <div class="newsletter__notice centered">
          Sign Up for our Newsletter. We'll never spam you.
      </div>
      <div class="newsletter__form">
        <input class="input__text" type="text" placeholder="Your email address">
        <button class="newsletter__submit">
          Sign Up Here
        </button>
      </div>
    </div>
    <div class="footer__copyright">
      <hr>
      Doodles Academy <span class="lowercase">is a</span> 501 (c)(3) 2016
      |
      <% @social_links.each do |social_link| %>
        <%= link_to social_link[:name], social_link[:link], target:"_blank" %>
      |
      <% end %>
      All Rights Reserved
      |
      <%= link_to "Contact", contact_path %>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
