<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? :page_title %>
    <%= yield(:page_title) + " - " %>
    <% end %>
    Doodles Academy
  </title>
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" type="image/x-icon">
  <link rel="icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800|Special+Elite:300,400,600,700,800|Open+Sans:400,300italic,600,700|Raleway:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
  <meta name="p:domain_verify" content="3289347d7f80c14a0524aeb8183b4943"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/hero" %>
  <%= render "shared/navigation" %>
  <% if @homepage || @disable_shared %>
  <%= yield %>
  <% else %>
  <div class="wrapper">
    <%= yield %>
  </div>
  <% end %>

  <%= render "shared/subscribe" unless @disable_shared %>
  <%= render "shared/footer" unless @disable_shared %>
  <%= render "shared/ga" %>
</body>
</html>
