<% content_for(:page_title) { 'Team' } %>
<% content_for(:hero_image) { image_tag 'heros/team.jpg' } %>

<h2 class="centered">Board of Directors</h2>
<div class="member-grid">
<% @board_members.each do |member| %>
  <div class="member-grid-item">
    <%= render "shared/member", member: member %>
  </div>
<% end %>
</div>

<% if @resource_council_members.present? %>
  <h2 class="centered">Resource Council</h2>
  <div class="member-grid">
  <% @resource_council_members.each do |member| %>
    <div class="member-grid-item">
      <%= render "shared/member", member: member %>
    </div>
  <% end %>
  </div>
<% end %>

<% if @intern_members.present? %>
  <h2 class="centered">Interns</h2>
  <div class="member-grid">
  <% @intern_members.each do |member| %>
    <div class="member-grid-item">
      <%= render "shared/member", member: member %>
    </div>
  <% end %>
  </div>
<% end %>

<h2 class="centered">Volunteers</h2>
<p>Doodles Academy would like to thank the following volunteers for their contributions:</p>
<ul class="volunteer_members">
  <% @volunteer_members.each do |member| %>
  <li>
    <a href=<%= member.linked_in_profile %>>
      <%= member.name %>
    </a>
    <a href=<%= member.personal_website %>>
      <%= member.personal_website %>
    </a>
  </li>
  <% end %>
</ul>

<div class="modal" id="modal-member-bio">
  <div class="modal-content">
    <div class="modal-close"></div>
    <div class="modal-title">
      <h2 class="modal-member-name"></h2>
    </div>
    <div class="modal-baby-picture"></div>
    <div class="modal-body"></div>
  </div>
</div>
