<% path = @donor.persisted? ? admin_donor_path(@donor) : admin_donors_path %>
<%= form_for @donor, url: path do |f| %>
  <% if @donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
      <% @donor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :lifetime_donation %><br>
    <%= f.text_field :lifetime_donation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
